* {
	margin: 2px 5px 2px 5px;
	font-family: "LigaSFMonoNerdFont";
	font-size: 13;
}

#waybar {
	background: transparent;
}

#tray {
	background: #f5f5f5;
	border-radius: 5px;
	padding: 0px 25px 0px 25px;
}

#workspaces {
	background: #f5f5f5;
	border-radius: 5px;
	padding: 0px 25px 0px 25px;
}

#window {
	background: #f5f5f5;
	border-radius: 5px;
	padding: 0px 25px 0px 25px;
}

#clock {
	background: #f5f5f5;
	border-radius: 5px;
	padding: 0px 25px 0px 25px;
}

