#tabbrowser-tabs { display: flex; justify-content: center; }
#tabbrowser-tabs * { align: center; text-align: center; }

#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 0 !important;
  background-color: #f5f5f5 !important;
}

.tab-close-button, .close-icon, #tabs-newtab-button {
	display: none;
}

/* center tab icons */
.tabbrowser-tab:not([pinned]) {
  min-width: unset;
}
.tab-throbber:not([pinned]),
.tab-icon-pending:not([pinned]),
.tab-icon-image:not([pinned]),
.tab-sharing-icon-overlay:not([pinned]),
.tab-icon-overlay:not([pinned]) {
  margin-inline-end: 0;
}

#star-button-box {
	display: none;
}

#urlbar {
	padding: 5px;
  font-size: 14px !important;
}

#urlbar-background {
	background-color: #f5f5f5 !important;
}

/* bg */
#navigator-toolbox {
  background-color: #f5f5f5 !important;
}

.tab-label-container,#tracking-protection-icon-container,#identity-box,#back-button,#forward-button,#PanelUI-button {
	display: none !important;
}

* {
	font-family: "Liga SFMono Nerd Font";
	border: none !important;
	box-shadow: none !important;
}

